In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('survey_results_public.csv')
df

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [3]:
#To choose specific number of rows and columns
pd.set_option('display.max_rows',100)

In [4]:
df

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [5]:
#To see a specific column
df.Age # or you can use df['Age']

0         NaN
1         NaN
2         NaN
3        25.0
4        31.0
         ...
64456     NaN
64457     NaN
64458     NaN
64459     NaN
64460     NaN
Name: Age, Length: 64461, dtype: float64

In [6]:
#To see multiple columns
df[['Age','Hobbyist']]

        Age Hobbyist
0       NaN      Yes
1       NaN       No
2       NaN      Yes
3      25.0      Yes
4      31.0      Yes
...     ...      ...
64456   NaN      Yes
64457   NaN      Yes
64458   NaN      Yes
64459   NaN      Yes
64460   NaN      Yes

[64461 rows x 2 columns]

In [7]:
#To select multiple rows
df.iloc[[0,1]]

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4

In [8]:
#To get specific rows and specific columns
df.loc[[0,1],['Age','Hobbyist']]

   Age Hobbyist
0  NaN      Yes
1  NaN       No

In [9]:
#To check for different categories(labels) of a column
df['Hobbyist'].value_counts()

Yes    50388
No     14028
Name: Hobbyist, dtype: int64

In [10]:
#To see one persons record
df.loc[0]

Respondent                                                                      1
MainBranch                                         I am a developer by profession
Hobbyist                                                                      Yes
Age                                                                           NaN
Age1stCode                                                                     13
CompFreq                                                                  Monthly
CompTotal                                                                     NaN
ConvertedComp                                                                 NaN
Country                                                                   Germany
CurrencyDesc                                                        European Euro
CurrencySymbol                                                                EUR
DatabaseDesireNextYear                                       Microsoft SQL Server
DatabaseWorkedWith                      Elasticsearch;Microsoft SQL Server;Oracle
DevType                         Developer, desktop or enterprise applications;...
EdLevel                           Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
Employment                      Independent contractor, freelancer, or self-em...
Ethnicity                                            White or of European descent
Gender                                                                        Man
JobFactors                      Languages, frameworks, and other technologies ...
JobSat                                                         Slightly satisfied
JobSeek                              I am not interested in new job opportunities
LanguageDesireNextYear                                     C#;HTML/CSS;JavaScript
LanguageWorkedWith                                         C#;HTML/CSS;JavaScript
MiscTechDesireNextYear                                          .NET Core;Xamarin
MiscTechWorkedWith                                                 .NET;.NET Core
NEWCollabToolsDesireNextYear               Microsoft Teams;Microsoft Azure;Trello
NEWCollabToolsWorkedWith             Confluence;Jira;Slack;Microsoft Azure;Trello
NEWDevOps                                                                      No
NEWDevOpsImpt                                                  Somewhat important
NEWEdImpt                                                        Fairly important
NEWJobHunt                                                                    NaN
NEWJobHuntResearch                                                            NaN
NEWLearn                                                              Once a year
NEWOffTopic                                                              Not sure
NEWOnboardGood                                                                NaN
NEWOtherComms                                                                  No
NEWOvertime                                      Often: 1-2 days per week or more
NEWPurchaseResearch             Start a free trial;Ask developers I know/work ...
NEWPurpleLink                                                              Amused
NEWSOSites                       Stack Overflow (public Q&A for anyone who codes)
NEWStuck                        Visit Stack Overflow;Go for a walk or other ph...
OpSys                                                                     Windows
OrgSize                                                          2 to 9 employees
PlatformDesireNextYear             Android;iOS;Kubernetes;Microsoft Azure;Windows
PlatformWorkedWith                                                        Windows
PurchaseWhat                                                                  NaN
Sexuality                                                 Straight / Heterosexual
SOAccount                                                                      No
SOComm                                                             No, not at all
SOPartFreq                                                                    NaN
SOVisitFreq                                                Multiple times per day
SurveyEase                                             Neither easy nor difficult
SurveyLength                                                Appropriate in length
Trans                                                                          No
UndergradMajor                  Computer science, computer engineering, or sof...
WebframeDesireNextYear                                               ASP.NET Core
WebframeWorkedWith                                           ASP.NET;ASP.NET Core
WelcomeChange                             Just as welcome now as I felt last year
WorkWeekHrs                                                                    50
YearsCode                                                                      36
YearsCodePro                                                                   27
Name: 0, dtype: object

In [11]:
#To see first person's hoobyist column value
df.loc[0,'Hobbyist'] #0th row persons hobby value

'Yes'

In [12]:
#To see a range of rows and columns
df.loc[0:2,'Hobbyist':'CompFreq']

  Hobbyist  Age Age1stCode CompFreq
0      Yes  NaN         13  Monthly
1       No  NaN         19      NaN
2      Yes  NaN         15      NaN

In [13]:
df1=pd.read_csv('survey_results_schema.csv')

In [14]:
df1.set_index('Column',inplace=True)

In [15]:
df1

                                                                   QuestionText
Column
Respondent                    Randomized respondent ID number (not in order ...
MainBranch                    Which of the following options best describes ...
Hobbyist                                                Do you code as a hobby?
Age                           What is your age (in years)? If you prefer not...
Age1stCode                    At what age did you write your first line of c...
CompFreq                       Is that compensation weekly, monthly, or yearly?
CompTotal                     What is your current total compensation (salar...
ConvertedComp                 Salary converted to annual USD salaries using ...
Country                                                      Where do you live?
CurrencyDesc                  Which currency do you use day-to-day? If your ...
CurrencySymbol                Which currency do you use day-to-day? If your ...
DatabaseDesireNextYear        Which database environments have you done exte...
DatabaseWorkedWith            Which database environments have you done exte...
DevType                       Which of the following describe you? Please se...
EdLevel                       Which of the following best describes the high...
Employment                    Which of the following best describes your cur...
Ethnicity                     Which of the following describe you, if any? P...
Gender                        Which of the following describe you, if any? P...
JobFactors                    Imagine that you are deciding between two job ...
JobSat                        How satisfied are you with your current job? (...
JobSeek                       Which of the following best describes your cur...
LanguageDesireNextYear        Which programming, scripting, and markup langu...
LanguageWorkedWith            Which programming, scripting, and markup langu...
MiscTechDesireNextYear        Which other frameworks, libraries, and tools h...
MiscTechWorkedWith            Which other frameworks, libraries, and tools h...
NEWCollabToolsDesireNextYear  Which collaboration tools have you done extens...
NEWCollabToolsWorkedWith      Which collaboration tools have you done extens...
NEWDevOps                     Does your company have a dedicated DevOps person?
NEWDevOpsImpt                 How important is the practice of DevOps to sca...
NEWEdImpt                     How important is a formal education, such as a...
NEWJobHunt                    In general, what drives you to look for a new ...
NEWJobHuntResearch            When job searching, how do you learn more abou...
NEWLearn                      How frequently do you learn a new language or ...
NEWOffTopic                   Do you think Stack Overflow should relax restr...
NEWOnboardGood                Do you think your company has a good onboardin...
NEWOtherComms                 Are you a member of any other online developer...
NEWOvertime                   How often do you work overtime or beyond the f...
NEWPurchaseResearch           When buying a new tool or software, how do you...
NEWPurpleLink                 You search for a coding solution online and th...
NEWSOSites                    Which of the following Stack Overflow sites ha...
NEWStuck                      What do you do when you get stuck on a problem...
OpSys                         What is the primary operating system in which ...
OrgSize                       Approximately how many people are employed by ...
PlatformDesireNextYear        Which platforms have you done extensive develo...
PlatformWorkedWith            Which platforms have you done extensive develo...
PurchaseWhat                  What level of influence do you, personally, ha...
Sexuality                     Which of the following describe you, if any? P...
SOAccount                                 Do you have a Stack Overflow account?
SOComm                        Do you consider yourself a member of the Stack...
SOPartFreq                    How frequently would you say you participate i...
SOVisitFreq                   How frequently would you say you visit Stack O...
SurveyEase                    How easy or difficult was this survey to compl...
SurveyLength                  How do you feel about the length of the survey...
Trans                                                      Are you transgender?
UndergradMajor                            What was your primary field of study?
WebframeDesireNextYear        Which web frameworks have you done extensive d...
WebframeWorkedWith            Which web frameworks have you done extensive d...
WelcomeChange                 Compared to last year, how welcome do you feel...
WorkWeekHrs                   On average, how many hours per week do you wor...
YearsCode                     Including any education, how many years have y...
YearsCodePro                  NOT including education, how many years have y...

In [16]:
#To sort df on the basis of index
df1.sort_index()
df1

                                                                   QuestionText
Column
Respondent                    Randomized respondent ID number (not in order ...
MainBranch                    Which of the following options best describes ...
Hobbyist                                                Do you code as a hobby?
Age                           What is your age (in years)? If you prefer not...
Age1stCode                    At what age did you write your first line of c...
CompFreq                       Is that compensation weekly, monthly, or yearly?
CompTotal                     What is your current total compensation (salar...
ConvertedComp                 Salary converted to annual USD salaries using ...
Country                                                      Where do you live?
CurrencyDesc                  Which currency do you use day-to-day? If your ...
CurrencySymbol                Which currency do you use day-to-day? If your ...
DatabaseDesireNextYear        Which database environments have you done exte...
DatabaseWorkedWith            Which database environments have you done exte...
DevType                       Which of the following describe you? Please se...
EdLevel                       Which of the following best describes the high...
Employment                    Which of the following best describes your cur...
Ethnicity                     Which of the following describe you, if any? P...
Gender                        Which of the following describe you, if any? P...
JobFactors                    Imagine that you are deciding between two job ...
JobSat                        How satisfied are you with your current job? (...
JobSeek                       Which of the following best describes your cur...
LanguageDesireNextYear        Which programming, scripting, and markup langu...
LanguageWorkedWith            Which programming, scripting, and markup langu...
MiscTechDesireNextYear        Which other frameworks, libraries, and tools h...
MiscTechWorkedWith            Which other frameworks, libraries, and tools h...
NEWCollabToolsDesireNextYear  Which collaboration tools have you done extens...
NEWCollabToolsWorkedWith      Which collaboration tools have you done extens...
NEWDevOps                     Does your company have a dedicated DevOps person?
NEWDevOpsImpt                 How important is the practice of DevOps to sca...
NEWEdImpt                     How important is a formal education, such as a...
NEWJobHunt                    In general, what drives you to look for a new ...
NEWJobHuntResearch            When job searching, how do you learn more abou...
NEWLearn                      How frequently do you learn a new language or ...
NEWOffTopic                   Do you think Stack Overflow should relax restr...
NEWOnboardGood                Do you think your company has a good onboardin...
NEWOtherComms                 Are you a member of any other online developer...
NEWOvertime                   How often do you work overtime or beyond the f...
NEWPurchaseResearch           When buying a new tool or software, how do you...
NEWPurpleLink                 You search for a coding solution online and th...
NEWSOSites                    Which of the following Stack Overflow sites ha...
NEWStuck                      What do you do when you get stuck on a problem...
OpSys                         What is the primary operating system in which ...
OrgSize                       Approximately how many people are employed by ...
PlatformDesireNextYear        Which platforms have you done extensive develo...
PlatformWorkedWith            Which platforms have you done extensive develo...
PurchaseWhat                  What level of influence do you, personally, ha...
Sexuality                     Which of the following describe you, if any? P...
SOAccount                                 Do you have a Stack Overflow account?
SOComm                        Do you consider yourself a member of the Stack...
SOPartFreq                    How frequently would you say you participate i...
SOVisitFreq                   How frequently would you say you visit Stack O...
SurveyEase                    How easy or difficult was this survey to compl...
SurveyLength                  How do you feel about the length of the survey...
Trans                                                      Are you transgender?
UndergradMajor                            What was your primary field of study?
WebframeDesireNextYear        Which web frameworks have you done extensive d...
WebframeWorkedWith            Which web frameworks have you done extensive d...
WelcomeChange                 Compared to last year, how welcome do you feel...
WorkWeekHrs                   On average, how many hours per week do you wor...
YearsCode                     Including any education, how many years have y...
YearsCodePro                  NOT including education, how many years have y...

In [17]:
# to set up a filter
filt=(df['Country']=='United Kingdom')

In [18]:
print(filt)

0        False
1         True
2        False
3        False
4        False
         ...
64456    False
64457    False
64458    False
64459    False
64460    False
Name: Country, Length: 64461, dtype: bool

In [19]:
#To display selected columns of the filtered data
df.loc[filt,['Age','Hobbyist','Country']]

        Age Hobbyist         Country
1       NaN       No  United Kingdom
9      22.0      Yes  United Kingdom
10     23.0      Yes  United Kingdom
15     45.0      Yes  United Kingdom
29      NaN      Yes  United Kingdom
...     ...      ...             ...
64247   NaN      Yes  United Kingdom
64253  21.0      Yes  United Kingdom
64279  67.0      Yes  United Kingdom
64422  23.0      Yes  United Kingdom
64432   NaN      Yes  United Kingdom

[3896 rows x 3 columns]

# Editing rows and columns

In [20]:
df.columns=[x.upper() for x in df.columns]
df

,RESPONDENT,MAINBRANCH,HOBBYIST,AGE,AGE1STCODE,COMPFREQ,COMPTOTAL,CONVERTEDCOMP,COUNTRY,CURRENCYDESC,...,SURVEYEASE,SURVEYLENGTH,TRANS,UNDERGRADMAJOR,WEBFRAMEDESIRENEXTYEAR,WEBFRAMEWORKEDWITH,WELCOMECHANGE,WORKWEEKHRS,YEARSCODE,YEARSCODEPRO
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [21]:
#To replace soemthing 
df.columns=df.columns.str.replace(' ','_')

In [22]:
df.rename(columns={'UNDERGRADMAJOR':'UGMANJOR','SURVEYLENGTH':'SURVEY_LEN'},inplace=True)

In [23]:
df

,RESPONDENT,MAINBRANCH,HOBBYIST,AGE,AGE1STCODE,COMPFREQ,COMPTOTAL,CONVERTEDCOMP,COUNTRY,CURRENCYDESC,...,SURVEYEASE,SURVEY_LEN,TRANS,UGMANJOR,WEBFRAMEDESIRENEXTYEAR,WEBFRAMEWORKEDWITH,WELCOMECHANGE,WORKWEEKHRS,YEARSCODE,YEARSCODEPRO
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [24]:
df.loc[[0,2],['TRANS','COUNTRY']]

  TRANS             COUNTRY
0    No             Germany
2   NaN  Russian Federation

In [25]:
#To change particular row ,columns values
df.loc[[0,2],['TRANS','COUNTRY']]=[' ',' ']

# Apply,Map,Applymap, Replace

In [26]:
#APPLY: WE use it on series object, to set up a fucntion/apply something overwhole series
df.dtypes

RESPONDENT                        int64
MAINBRANCH                       object
HOBBYIST                         object
AGE                             float64
AGE1STCODE                       object
COMPFREQ                         object
COMPTOTAL                       float64
CONVERTEDCOMP                   float64
COUNTRY                          object
CURRENCYDESC                     object
CURRENCYSYMBOL                   object
DATABASEDESIRENEXTYEAR           object
DATABASEWORKEDWITH               object
DEVTYPE                          object
EDLEVEL                          object
EMPLOYMENT                       object
ETHNICITY                        object
GENDER                           object
JOBFACTORS                       object
JOBSAT                           object
JOBSEEK                          object
LANGUAGEDESIRENEXTYEAR           object
LANGUAGEWORKEDWITH               object
MISCTECHDESIRENEXTYEAR           object
MISCTECHWORKEDWITH               object
NEWCOLLABTOOLSDESIRENEXTYEAR     object
NEWCOLLABTOOLSWORKEDWITH         object
NEWDEVOPS                        object
NEWDEVOPSIMPT                    object
NEWEDIMPT                        object
NEWJOBHUNT                       object
NEWJOBHUNTRESEARCH               object
NEWLEARN                         object
NEWOFFTOPIC                      object
NEWONBOARDGOOD                   object
NEWOTHERCOMMS                    object
NEWOVERTIME                      object
NEWPURCHASERESEARCH              object
NEWPURPLELINK                    object
NEWSOSITES                       object
NEWSTUCK                         object
OPSYS                            object
ORGSIZE                          object
PLATFORMDESIRENEXTYEAR           object
PLATFORMWORKEDWITH               object
PURCHASEWHAT                     object
SEXUALITY                        object
SOACCOUNT                        object
SOCOMM                           object
SOPARTFREQ                       object
SOVISITFREQ                      object
SURVEYEASE                       object
SURVEY_LEN                       object
TRANS                            object
UGMANJOR                         object
WEBFRAMEDESIRENEXTYEAR           object
WEBFRAMEWORKEDWITH               object
WELCOMECHANGE                    object
WORKWEEKHRS                     float64
YEARSCODE                        object
YEARSCODEPRO                     object
dtype: object

In [27]:
df['RESPONDENT'].apply(len)

TypeError: object of type 'int' has no len()

In [13]:
def update_country(COUNTRY):
    return COUNTRY.upper()
df['COUNTRY'].apply(update_country)

AttributeError: 'float' object has no attribute 'upper'

In [18]:
df['COUNTRY'].dtype=object
#df['COUNTRY']=[x.upper() for x in df['COUNTRY'] ]

AttributeError: can't set attribute

In [19]:
df.apply(len)

RESPONDENT            64461
MAINBRANCH            64461
HOBBYIST              64461
AGE                   64461
AGE1STCODE            64461
                      ...
WEBFRAMEWORKEDWITH    64461
WELCOMECHANGE         64461
WORKWEEKHRS           64461
YEARSCODE             64461
YEARSCODEPRO          64461
Length: 61, dtype: int64

In [21]:
df.apply(pd.Series.min)

TypeError: '<=' not supported between instances of 'str' and 'float'

# Add/ Remove Coulumns/Rows

In [28]:
df['EXP']=df['AGE1STCODE']+' '+df['MAINBRANCH']
df

,RESPONDENT,MAINBRANCH,HOBBYIST,AGE,AGE1STCODE,COMPFREQ,COMPTOTAL,CONVERTEDCOMP,COUNTRY,CURRENCYDESC,...,SURVEY_LEN,TRANS,UGMANJOR,WEBFRAMEDESIRENEXTYEAR,WEBFRAMEWORKEDWITH,WELCOMECHANGE,WORKWEEKHRS,YEARSCODE,YEARSCODEPRO,EXP
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,,European Euro,...,Appropriate in length,,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27,13 I am a developer by profession
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4,19 I am a developer by profession
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,,NaN,...,Appropriate in length,,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN,15 I code primarily as a hobby
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4,18 I am a developer by profession
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8,"16 I used to be a developer by profession, but..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year,NaN
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,...,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN,NaN

In [29]:
#TO APPEND A ROW
df=df.append({'HOBBYIST':'No'},ignore_index=True)

In [30]:
df.shape

(64462, 62)

In [31]:
#TO DROP A SPECIFIC ROW
df.drop(index=64461)

,RESPONDENT,MAINBRANCH,HOBBYIST,AGE,AGE1STCODE,COMPFREQ,COMPTOTAL,CONVERTEDCOMP,COUNTRY,CURRENCYDESC,...,SURVEY_LEN,TRANS,UGMANJOR,WEBFRAMEDESIRENEXTYEAR,WEBFRAMEWORKEDWITH,WELCOMECHANGE,WORKWEEKHRS,YEARSCODE,YEARSCODEPRO,EXP
0,1.0,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,,European Euro,...,Appropriate in length,,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27,13 I am a developer by profession
1,2.0,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4,19 I am a developer by profession
2,3.0,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,,NaN,...,Appropriate in length,,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN,15 I code primarily as a hobby
3,4.0,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4,18 I am a developer by profession
4,5.0,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8,"16 I used to be a developer by profession, but..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858.0,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year,NaN
64457,64867.0,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898.0,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925.0,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN,NaN
64460,65112.0,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,...,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN,NaN

# Ways to sort dataset

In [32]:
df

,RESPONDENT,MAINBRANCH,HOBBYIST,AGE,AGE1STCODE,COMPFREQ,COMPTOTAL,CONVERTEDCOMP,COUNTRY,CURRENCYDESC,...,SURVEY_LEN,TRANS,UGMANJOR,WEBFRAMEDESIRENEXTYEAR,WEBFRAMEWORKEDWITH,WELCOMECHANGE,WORKWEEKHRS,YEARSCODE,YEARSCODEPRO,EXP
0,1.0,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,,European Euro,...,Appropriate in length,,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27,13 I am a developer by profession
1,2.0,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4,19 I am a developer by profession
2,3.0,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,,NaN,...,Appropriate in length,,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN,15 I code primarily as a hobby
3,4.0,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4,18 I am a developer by profession
4,5.0,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8,"16 I used to be a developer by profession, but..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64457,64867.0,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898.0,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925.0,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN,NaN
64460,65112.0,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,...,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN,NaN
64461,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df.to_csv('file1.csv')

In [34]:
#for sorting in ascending/descending order
df.sort_values(['HOBBYIST','EXP'],ascending=[True,False])#It will consider ascending order for hobbyist column only
# We do this becuase if values are same, we should give another parameter with which it can compare column for sorting

,RESPONDENT,MAINBRANCH,HOBBYIST,AGE,AGE1STCODE,COMPFREQ,COMPTOTAL,CONVERTEDCOMP,COUNTRY,CURRENCYDESC,...,SURVEY_LEN,TRANS,UGMANJOR,WEBFRAMEDESIRENEXTYEAR,WEBFRAMEWORKEDWITH,WELCOMECHANGE,WORKWEEKHRS,YEARSCODE,YEARSCODEPRO,EXP
1446,1452.0,"I used to be a developer by profession, but no...",No,NaN,Younger than 5 years,NaN,NaN,NaN,Turkey,NaN,...,Too short,Yes,"Computer science, computer engineering, or sof...",Angular;ASP.NET Core;Express;jQuery;React.js,Angular;ASP.NET Core;Express;jQuery;React.js,A lot less welcome now than last year,NaN,Less than 1 year,Less than 1 year,Younger than 5 years I used to be a developer ...
2266,2275.0,"I used to be a developer by profession, but no...",No,34.0,Younger than 5 years,NaN,NaN,NaN,Italy,NaN,...,Appropriate in length,No,"A humanities discipline (such as literature, h...",Angular;Express;Laravel,Angular.js;jQuery;React.js;Vue.js,A lot more welcome now than last year,NaN,10,NaN,Younger than 5 years I used to be a developer ...
11407,11445.0,"I am not primarily a developer, but I write co...",No,37.0,Younger than 5 years,NaN,NaN,NaN,Germany,NaN,...,Too long,No,"Another engineering discipline (such as civil,...",NaN,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,Not applicable - I did not use Stack Overflow ...,NaN,37,NaN,Younger than 5 years I am not primarily a deve...
31527,31646.0,"I am not primarily a developer, but I write co...",No,36.0,Younger than 5 years,Yearly,24000.0,31022.0,United Kingdom,Pound sterling,...,Appropriate in length,Yes,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,38.0,31,8,Younger than 5 years I am not primarily a deve...
31930,32049.0,"I am not primarily a developer, but I write co...",No,NaN,Younger than 5 years,NaN,NaN,NaN,United Kingdom,European Euro,...,Too long,No,Mathematics or statistics,NaN,NaN,Just as welcome now as I felt last year,NaN,32,18,Younger than 5 years I am not primarily a deve...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62785,64139.0,I am a student who is learning to code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62985,64354.0,I am a developer by profession,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63497,64915.0,"I am not primarily a developer, but I write co...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63778,65217.0,I am a developer by profession,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63804,65245.0,I am a student who is learning to code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
#TO FIND 10 LARGEST VALUES OF ANY COLUMNS
df['CONVERTEDCOMP'].nlargest(10)

121     2000000.0
123     2000000.0
191     2000000.0
663     2000000.0
697     2000000.0
722     2000000.0
816     2000000.0
982     2000000.0
1018    2000000.0
1032    2000000.0
Name: CONVERTEDCOMP, dtype: float64

# Grouping and Aggregating Data

In [36]:
df['CONVERTEDCOMP'].median()

54049.0

In [37]:
df.median()

RESPONDENT       32231.0
AGE                 29.0
COMPTOTAL        63000.0
CONVERTEDCOMP    54049.0
WORKWEEKHRS         40.0
dtype: float64

In [38]:
#For grouping according to a column
country_group=df.groupby(['COUNTRY'])
country_group.get_group('Germany')

,RESPONDENT,MAINBRANCH,HOBBYIST,AGE,AGE1STCODE,COMPFREQ,COMPTOTAL,CONVERTEDCOMP,COUNTRY,CURRENCYDESC,...,SURVEY_LEN,TRANS,UGMANJOR,WEBFRAMEDESIRENEXTYEAR,WEBFRAMEWORKEDWITH,WELCOMECHANGE,WORKWEEKHRS,YEARSCODE,YEARSCODEPRO,EXP
5,6.0,I am a developer by profession,No,NaN,14,NaN,NaN,NaN,Germany,European Euro,...,Appropriate in length,NaN,NaN,React.js,NaN,NaN,NaN,6,4,14 I am a developer by profession
22,23.0,I am a developer by profession,Yes,27.0,14,NaN,NaN,NaN,Germany,European Euro,...,Appropriate in length,No,"Another engineering discipline (such as civil,...",NaN,NaN,Somewhat less welcome now than last year,40.0,8,3,14 I am a developer by profession
23,24.0,I am a developer by profession,Yes,45.0,14,Yearly,85000.0,91883.0,Germany,European Euro,...,Appropriate in length,No,"Another engineering discipline (such as civil,...",NaN,NaN,Just as welcome now as I felt last year,42.0,30,20,14 I am a developer by profession
33,34.0,I am a developer by profession,Yes,29.0,15,NaN,NaN,NaN,Germany,NaN,...,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Express;React.js;Spring,Angular;Express,Somewhat more welcome now than last year,NaN,10,NaN,15 I am a developer by profession
59,60.0,I am a student who is learning to code,Yes,NaN,14,NaN,NaN,NaN,Germany,NaN,...,Appropriate in length,No,NaN,Django,NaN,Just as welcome now as I felt last year,NaN,2,NaN,14 I am a student who is learning to code
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64295,36284.0,NaN,Yes,NaN,11,NaN,NaN,NaN,Germany,NaN,...,NaN,NaN,Mathematics or statistics,NaN,NaN,Just as welcome now as I felt last year,NaN,15,NaN,NaN
64332,42558.0,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Germany,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64336,42851.0,NaN,Yes,43.0,11,NaN,NaN,NaN,Germany,NaN,...,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,28,NaN,NaN
64380,52163.0,NaN,Yes,NaN,14,NaN,NaN,NaN,Germany,NaN,...,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js,React.js,Just as welcome now as I felt last year,NaN,7,NaN,NaN
64402,56263.0,NaN,Yes,NaN,14,NaN,NaN,NaN,Germany,NaN,...,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,Angular;jQuery;Ruby on Rails,Just as welcome now as I felt last year,NaN,7,NaN,NaN

In [41]:
country_group['AGE'].value_counts()

COUNTRY      AGE
Afghanistan  23.0    5
             22.0    3
             25.0    3
             15.0    2
             20.0    2
                    ..
Zimbabwe     21.0    1
             25.0    1
             27.0    1
             30.0    1
             33.0    1
Name: AGE, Length: 3697, dtype: int64

# Handling missing values

In [42]:
df.dropna()

,RESPONDENT,MAINBRANCH,HOBBYIST,AGE,AGE1STCODE,COMPFREQ,COMPTOTAL,CONVERTEDCOMP,COUNTRY,CURRENCYDESC,...,SURVEY_LEN,TRANS,UGMANJOR,WEBFRAMEDESIRENEXTYEAR,WEBFRAMEWORKEDWITH,WELCOMECHANGE,WORKWEEKHRS,YEARSCODE,YEARSCODEPRO,EXP
9,10.0,I am a developer by profession,Yes,22.0,14,Yearly,25000.0,32315.0,United Kingdom,Pound sterling,...,Appropriate in length,No,Mathematics or statistics,Flask;jQuery,Flask;jQuery,Somewhat more welcome now than last year,36.0,8,4,14 I am a developer by profession
32,33.0,I am a developer by profession,Yes,39.0,14,Monthly,4900.0,63564.0,Belgium,European Euro,...,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;Gatsby;React.js;Ruby on Rails,Angular;Angular.js;Django;Express;React.js,Just as welcome now as I felt last year,40.0,20,14,14 I am a developer by profession
41,42.0,I am a developer by profession,No,32.0,14,Yearly,130000.0,130000.0,United States,United States dollar,...,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Spring,ASP.NET;Flask;React.js;Spring,Somewhat less welcome now than last year,37.0,16,10,14 I am a developer by profession
46,47.0,I am a developer by profession,Yes,53.0,10,Yearly,58000.0,74970.0,United Kingdom,Pound sterling,...,Appropriate in length,No,"A natural science (such as biology, chemistry,...",Flask;Spring,Flask;Spring,Just as welcome now as I felt last year,40.0,43,28,10 I am a developer by profession
68,69.0,I am a developer by profession,Yes,25.0,12,Yearly,550000.0,594539.0,France,European Euro,...,Too short,No,"Computer science, computer engineering, or sof...",Django;Flask,Django;Flask,Just as welcome now as I felt last year,40.0,13,3,12 I am a developer by profession
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61613,62863.0,I am a developer by profession,Yes,30.0,11,Yearly,230000.0,230000.0,United States,United States dollar,...,Appropriate in length,No,"Information systems, information technology, o...",Angular;Express;React.js,Express;React.js,Just as welcome now as I felt last year,40.0,10,7,11 I am a developer by profession
61636,62886.0,I am a developer by profession,Yes,32.0,24,Yearly,102700.0,102700.0,United States,United States dollar,...,Appropriate in length,No,"Information systems, information technology, o...",Angular,Angular;Angular.js;ASP.NET Core,Somewhat more welcome now than last year,45.0,7,5,24 I am a developer by profession
61654,62904.0,I am a developer by profession,Yes,33.0,24,Yearly,95000.0,95000.0,United States,United States dollar,...,Too long,No,"Computer science, computer engineering, or sof...",Express;React.js,Express;Laravel;React.js;Vue.js,Just as welcome now as I felt last year,50.0,9,7,24 I am a developer by profession
61993,63288.0,I am a developer by profession,No,31.0,16,Yearly,65000.0,84019.0,United Kingdom,Pound sterling,...,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Angular.js;Express,Angular;Angular.js;Express,Just as welcome now as I felt last year,40.0,14,7,16 I am a developer by profession
63517,64938.0,I am a developer by profession,No,33.0,13,Yearly,55000.0,59454.0,France,European Euro,...,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;Flask,Django;Flask;jQuery;Ruby on Rails,Just as welcome now as I felt last year,40.0,20,12,13 I am a developer by profession

In [ ]:
#To replace 'NA' or missing by some value
df.replace('NA',np.nan)

In [43]:
#To check where missing values are present
df.isna()

,RESPONDENT,MAINBRANCH,HOBBYIST,AGE,AGE1STCODE,COMPFREQ,COMPTOTAL,CONVERTEDCOMP,COUNTRY,CURRENCYDESC,...,SURVEY_LEN,TRANS,UGMANJOR,WEBFRAMEDESIRENEXTYEAR,WEBFRAMEWORKEDWITH,WELCOMECHANGE,WORKWEEKHRS,YEARSCODE,YEARSCODEPRO,EXP
0,False,False,False,True,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,True,False,True,True,True,False,False,...,True,True,False,True,True,False,True,False,False,False
2,False,False,False,True,False,True,True,True,False,True,...,False,False,True,True,True,False,True,False,True,False
3,False,False,False,False,False,True,True,True,False,False,...,True,False,False,True,True,False,False,False,False,False
4,False,False,False,False,False,True,True,True,False,True,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64457,False,True,False,True,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
64458,False,True,False,True,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
64459,False,True,False,True,True,True,True,True,False,True,...,True,True,True,False,True,True,True,True,True,True
64460,False,True,False,True,True,True,True,True,False,True,...,True,True,False,False,False,True,True,True,True,True
64461,True,True,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [ ]:
#To fill missing values with 0
df.fillna(0)

In [44]:
#TO CHECK datatypes of all cloumns
df.dtypes

RESPONDENT                      float64
MAINBRANCH                       object
HOBBYIST                         object
AGE                             float64
AGE1STCODE                       object
COMPFREQ                         object
COMPTOTAL                       float64
CONVERTEDCOMP                   float64
COUNTRY                          object
CURRENCYDESC                     object
CURRENCYSYMBOL                   object
DATABASEDESIRENEXTYEAR           object
DATABASEWORKEDWITH               object
DEVTYPE                          object
EDLEVEL                          object
EMPLOYMENT                       object
ETHNICITY                        object
GENDER                           object
JOBFACTORS                       object
JOBSAT                           object
JOBSEEK                          object
LANGUAGEDESIRENEXTYEAR           object
LANGUAGEWORKEDWITH               object
MISCTECHDESIRENEXTYEAR           object
MISCTECHWORKEDWITH               object
NEWCOLLABTOOLSDESIRENEXTYEAR     object
NEWCOLLABTOOLSWORKEDWITH         object
NEWDEVOPS                        object
NEWDEVOPSIMPT                    object
NEWEDIMPT                        object
NEWJOBHUNT                       object
NEWJOBHUNTRESEARCH               object
NEWLEARN                         object
NEWOFFTOPIC                      object
NEWONBOARDGOOD                   object
NEWOTHERCOMMS                    object
NEWOVERTIME                      object
NEWPURCHASERESEARCH              object
NEWPURPLELINK                    object
NEWSOSITES                       object
NEWSTUCK                         object
OPSYS                            object
ORGSIZE                          object
PLATFORMDESIRENEXTYEAR           object
PLATFORMWORKEDWITH               object
PURCHASEWHAT                     object
SEXUALITY                        object
SOACCOUNT                        object
SOCOMM                           object
SOPARTFREQ                       object
SOVISITFREQ                      object
SURVEYEASE                       object
SURVEY_LEN                       object
TRANS                            object
UGMANJOR                         object
WEBFRAMEDESIRENEXTYEAR           object
WEBFRAMEWORKEDWITH               object
WELCOMECHANGE                    object
WORKWEEKHRS                     float64
YEARSCODE                        object
YEARSCODEPRO                     object
EXP                              object
dtype: object

In [ ]:
#To cast datatypes
df['AGE']=df['AGE'].astype(int)

In [46]:
#Finding unique values
df['AGE'].unique()

array([  nan,  25. ,  31. ,  36. ,  30. ,  22. ,  23. ,  49. ,  53. ,
        27. ,  45. ,  32. ,  24. ,  40. ,  18. ,  39. ,  29. ,  16. ,
        34. ,  19. ,  35. ,  20. ,  38. ,  57. ,  28. ,  17. ,  44. ,
        21. ,  48. ,  26. ,  42. ,  55. ,  37. ,  50. ,  41. ,  64. ,
        63. ,  33. ,  43. ,  51. ,  60. ,  59. ,  62. ,  69. ,  52. ,
        46. ,  49.5,  56. ,  47. ,  15. ,  72. ,  13. ,  71. ,  54. ,
        70. ,  11. ,  14. ,  61. ,  26.8,  86. ,  58. ,  67. ,  94. ,
        65. ,  66. ,  84. ,  73. ,  78. ,  68. ,  99. ,  74. ,  12. ,
        77. ,  15.5,  85. ,  76. ,  35.7,  32.5,  81. ,  23.8,  97. ,
        96. ,  26.5,   3. ,  24.5,  14.7,  34.5,   5. ,   1. ,  20.5,
        79. , 279. ,  22.5,  27.5,  32.8,  10. ,  89. ,  80. ,  98. ,
        19.8,   7. ,  21.5,  31.5,  88. ,  39.5,  16.5,  75. ,  83. ,
        23.4,  95. ,  14.5])